<header class="header">
  <div class="container">
    <img src="logo.png" alt="Logo" class="logo" />
    
    <button class="cep-btn" (click)="openModal()">CEP</button>
    
    <input type="text" placeholder="Search" class="search-bar" />
    
    <!-- Condicional para mostrar 'Minha Conta' ou 'Login' dependendo do estado de autenticação -->
    <button class="header-button" *ngIf="isAuthenticated$ | async; else showLogin" (click)="goToAccount()">Minha Conta</button>
    
    <ng-template #showLogin>
      <button class="header-button" (click)="goToLogin()">Login</button>
    </ng-template>
    
    <button class="header-button" (click)="goToOrders()">Pedidos</button>
    
    <button mat-raised-button class="header-button" [matBadge]="cartItemCount" matBadgePosition="above after" matBadgeColor="accent">
      <mat-icon>shopping_cart</mat-icon>
    </button>
  </div>
</header>

<!-- Modal para seleção de endereço -->
<div class="modal" *ngIf="isModalOpen">
  <div class="modal-content">
    <span class="close" (click)="closeModal()">&times;</span>
    <h2>Selecione seu endereço</h2>
    <div class="address-list">
      <!-- Exibe os endereços salvos -->
      <button *ngFor="let endereco of enderecos" class="address-button">
        {{ endereco.rua }}, {{ endereco.numero }}, {{ endereco.cidade }} - {{ endereco.estado }}
      </button>
  
      <a href="endereco" class="link">Gerenciar endereços</a>
    </div>
  </div>
</div>
