<!-- Header -->

<app-header></app-header>
  
  <!-- Banner Principal -->
  <div class="main-banner">
    <!-- Imagem principal -->
  </div>
  
  <!-- Seção "Mais Comprados" -->
  <section class="most-purchased">
    <h2>Mais Comprados</h2>
    <div class="products">
        <div class="product-item"></div>
      
        <!-- adicione os itens" -->
    </div>
  </section>
  
  <!-- Seção "Ofertas em Destaque" -->
  <section class="highlighted-offers">
    <h2>Ofertas em Destaque</h2>
    <div class="products">
        <div class="product-item"></div>
      <!-- adicione os itens -->
    </div>
  </section>
  
  <!-- Footer -->
  <footer class="footer">
    <!-- Conteúdo do rodapé -->
  </footer>
  